:root {
    ::-webkit-scrollbar {
        display: none;
    }
    background-color: black;
    font-family: "Outfit", sans-serif;
    img {
        border-radius: 40px;
        box-shadow: white 0 0 0.1vw 0;
        max-width: 99%;
    }
    
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        scale: 1;
    }

    .img:hover {
        transition: 0.5s ease-in-out;
        scale: 1.01;
        cursor: pointer;
    }
    
    #contact_me, #socials, #title, .portfolio {
        color: white;
    }
    
    #title {
        font-optical-sizing: auto;
        font-weight: 100%;
        font-style: normal;
        font-size: 10vw;
        text-align: center;
    }
    
    .portfolio {
        font-optical-sizing: auto;
        font-weight: 100%;
        font-style: normal;
        font-size: 5vw;
        list-style: none;
    }
    
    #contact_me, #socials {
        display: inline-block;
        vertical-align: middle;
    }
    
    #contact {
        font-optical-sizing: auto;
        font-weight: 100%;
        font-style: normal;
        list-style: numbers;
        font-size: 2vw;
        text-align: center;
    }
    
    .complete {
        color: green;
    }
    
    .doing {
        color: yellow;
    }
    
    .will_do {
        color: red;
    }
}